<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"></nav>

<!-- Header -->
<header class="masthead"></header>

<!-- Services -->
<section services id="services"></section>

<!-- Portfolio Grid -->
<section portfolio class="bg-light" id="portfolio"></section>

<!-- About -->
<section about id="about"></section>

<!-- Team -->
<section team class="bg-light" id="team"></section>

<!-- Clients -->
<section clients class="py-5"></section>

<!-- Contact -->
<section contact id="contact"></section>

<!-- Footer -->
<footer></footer>